body{
    background-color: #f7e0c1;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}


#char-menu{
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    justify-content: center;
}
#back-arrow{
    width: 3em;
    height: 2em;
    margin-right: 0.5em;
}
.char-links button{
    width: 3.3em;
    height: 2.5em;
    background-color: #392f2f;
    border: 1px solid #392f2f;
    font-size: 2em;
    color: white;
}
.char-links button:focus{
    outline: none;
}
.clicked{
    background-color: #8e8585!important;
    color: #392f2f!important;
    border: 1px solid #8e8585!important;
}


.content-deactive{
    display: none !important;
}
#char-wrapper{
    padding: 1em;
}

#bio-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}
#bio-stats{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.5em;
}
#bio-stats p{
    font-size: 2em;
}
#bio-btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
    width: 10em;
    margin-top: 2em;
}
#inv-link{
    margin-bottom: 2em;
    height: 3em;
    border-radius: 10px;
    background-color: #392f2f;
    border: 1px solid #392f2f;
    color: white;
}
#inv-link a{
    color: white;
}
#skills-link{
    height: 3em;
    border-radius: 10px;
    background-color: #392f2f;
    border: 1px solid #392f2f;
}

#profile{
    width: 10em;
    height: 10em;
    background: none;
    border: 1px solid black;
}

#dna-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
#dna-content p{
    font-size: 1.4em;
}
.dna-div{
    display: flex;
    align-items: center;
}

#dna-stats{
    display: flex;
    column-gap: 5em;
}
#left-div{
    display: flex;
    flex-direction: column;
}
#right-div{
    display: flex;
    flex-direction: column;
}


#brain-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#brain{
    width: 10em;
}
#brain-title{
    display: flex;
    flex-direction: row;
    column-gap: 5em;
}
#intro-img{
    width: 5em;
    padding-top: 1.5em;
}
#extro-img{
    width: 6.5em;
}
#earlybird-img{
    width: 6em;
}
#nightowl-img{
    width: 6em;
}
#snowflake-img{
    width: 5em;
    margin-bottom: 0.3em;
}
#flame-img{
    width: 5em;
}

#stats-content p{
    font-size: 2em;
}